<!DOCTYPE html>
<html>
  <head>
    <title>Cleaning</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container_12" id="container">
      <div class="img-rounded" id="top_logo">
	<%= image_tag "logo.png" %>
      </div>
      <div id="top_banner">
	<p>Phone Us Today to Get Quote:</p>
	<h3>800-800-800-800</h3>
      </div>
      <div id="menuh-container">
	<div id="menuh">
	  <ul>
	    <li><a href="#">Home</a></li>
	  </ul>
	  <ul>	
	    <li><a href="#" class="top_parent">Services</a>
	    <ul>
	      <li><a href="#" >Carpet Cleaning</a></li>
	      <li><a href="#" >Office Cleaning</a></li>
	      <li><a href="#" >Office Cleaning</a></li>
	      <li><a href="#" >Office Cleaning</a></li>
	    </ul>
	    </li>
	  </ul>
	  <ul>
	    <li><a href="#">About Us</a></li>
	  </ul>
	  <ul>
	    <li><a href="#">Contact Us</a></li>
	  </ul>
	</div>
      </div>
      <div class="grid_12" id="content">
	<%= yield %>
      </div>
    </div>
    <%= image_tag("background.jpg",  width: "100%", id: "background") %>
  </body>
</html>
