<!DOCTYPE html>
<html>
<head>
  <title>Cleaning</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container_12" id="container">
    <div class="img-rounded" id="top_logo">
     <%= image_tag "logo.png" %>
   </div>
   <div id="top_banner">
     <p>Phone Us Today to Get Quote:</p>
     <h3>800-800-800-800</h3>
   </div>
   <div id="menuh-container">
     <div id="menuh">
       <ul>
         <li> <%= nav_link 'Home', root_path, false %></li>
       </ul>
       <ul>
         <li><%= nav_link 'Services', "/page/services", true %>
           <ul>
             <li><a href="/page/services#carpet_cleaning" >Carpet Cleaning</a></li>
             <li><a href="/page/services#end_of_lease" >End Of Lease</a></li>
             <li><a href="#" >Office Cleaning</a></li>
             <li><a href="#" >Office Cleaning</a></li>
           </ul>
         </li>
       </ul>
       <ul>
         <li><%= nav_link 'About Us', '/page/about', false %></li>
       </ul>
       <ul>
         <li><%= nav_link 'Contact Us', '/page/contact', false %></li>
       </ul>
     </div>
   </div>

   <%= yield %>

 </div>
 <div id='footer'>
  <ul>
   <li><a>Home</a> | </li>
   <li><a>Service</a> | </li>
   <li><a>About Us</a> | </li>
   <li><a>Contact Us</a></li>
 </ul>
 <div><small>Copyright @ 2014</small></div>
</div>
<%= image_tag("background.jpg",  width: "100%", id: "background") %>
<script type="text/javascript">
 $(function(){
   $('#container').css({ 'min-height': $(window).innerHeight() });
 })
</script>
</body>
</html>
